# Notes of original Python

## tuple

In [12]:
print(('foo', 'bar') + (1, 2))
print((('a', 'b') * 3))

('foo', 'bar', 1, 2)
('a', 'b', 'a', 'b', 'a', 'b')

In [18]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a)
print(b)
print(rest)
print(type(rest))
*rest, a, b = values
print(a)
print(b)
print(rest)
# Starred expression can only occur once in one assignment
a, b, *_ = values

1
2
[3, 4, 5]
<class 'list'>
4
5
[1, 2, 3]

In [21]:
a = (1, 2, 3, 3, 3, 4, 3)
print(a.count(3))
print(a.count(2))
# count the occurance of a object

4
1

## List

In [28]:
b = []
b.append(1)
b.append(2)
b.insert(1, 3)
b

[1, 3, 2]

In [29]:
sorted(b)

[1, 2, 3]

In [30]:
b.sort()
b

[1, 2, 3]

In [38]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)
#bisect.bisect finds the location where an element 
#should be inserted to keep it sorted

4

In [39]:
bisect.insort(c, 5)
c

[1, 2, 2, 2, 3, 4, 5, 7]

In [44]:
for i, val in enumerate(c):
    print(i, val)

0 1
1 123
2 321
3 321
4 321
5 456
6 897
7 2
8 456
9 897
10 2
11 3
12 4
13 5
14 7

In [45]:
a = [1, 2, 3]
b = ['a', 'b', 'c']
for i, (x, y) in enumerate(zip(a, b)):
    print(i, x, y)

0 1 a
1 2 b
2 3 c

In [46]:
print(list(reversed(range(10))))
print(list(range(10))[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## dict

In [56]:
 d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [57]:
d1[5] = "foo"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 5: 'foo'}

In [58]:
del d1[5]

In [59]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [60]:
s = d1.pop('a')

In [61]:
s

'some value'

In [62]:
d1

{'b': [1, 2, 3, 4]}

In [63]:
d1['a'] = s

In [64]:
d1

{'b': [1, 2, 3, 4], 'a': 'some value'}

In [65]:
d1['sdf'] = 'asdf'
list(d1.keys())

['b', 'a', 'sdf']

In [66]:
list(d1.values())

[[1, 2, 3, 4], 'some value', 'asdf']

In [67]:
d1.update({'b':'foo'})

In [68]:
d1

{'b': 'foo', 'a': 'some value', 'sdf': 'asdf'}

In [69]:
mapping = dict(zip(range(5), reversed(range(5))))

In [70]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [74]:
val = mapping.pop(3, -1)
val

1

In [75]:
val = mapping.pop(3, -1)
val

-1

In [73]:
val2 = mapping.get(123, -1)
val2

-1

In [76]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [90]:
import numpy as np
a = list(np.array(100 * np.random.random((20)), dtype = int))
d = {}
for num in a:
    d.setdefault(num%10, 0)+=num
d2 = {}
for val in sorted(d.keys()):
    d2[val] = d[val]
d2

SyntaxError: can't assign to function call (<ipython-input-90-f3a8357c2f10>, line 5)